*{
	margin: 0;
	padding: 0;
	outline: none !important;
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.navbar {
	background: #000 !important;
	transition: 0.5s;
}
.navbar.scrolled{
	background: #1B1464 !important;
	transition: 0.5s;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #000;
    background-color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active:hover{
	color: #fff;
	background-color: #626262;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
	color: rgba(255, 255, 255, 1);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited
 {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;
}
.nav-item .btn{
	width: 70px;
	margin-top: 3px;
	padding: 2px;
	height: 30px;
	font-size: 15px;
	background-color: #12CBC4;
	text-align: center;
}
.nav-item .btn1{
	margin: 3px 5px 0 5px;
	background-color: #EA2027;
}